---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.vue";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import Quiz from "../components/Quiz.vue"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header client:load />
    <main
      class="h-[90vh] bg-greyprimary flex flex-col justify-center items-center px-4 sm:px-6 lg:px-8"
    >
      <Quiz client:load/>
    </main>
    <Footer />
  </body>
</html>